.body {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  background-color: red;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  position: relative;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;

}

.tool-container{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    margin: 10rem auto;
}

.mainBody{
    display: flex;
    justify-content: center;
    background-color: aqua;
    height: 100vh;
}



.btns {
  background-color: bisque;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btnPosition{
    width: 150px;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: #0a66c2;
    background-color:#0a66c2;
}



